<!-- local_search/simple_form -->

<input type="text" name="query_string" length="50" value="{{{querystring}}}" />
&nbsp <input type="submit" value="{{#str}}search, local_search{{/str}}" /> &nbsp
<a href={{searchurl}}>{{#str}}advancedsearch, local_search{{/str}}</a>
<a href={{staturl}}>{{#str}}statistics, local_search{{/str}}</a>

<!-- /local_search/simple_form -->